doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        title Discord Clone
        style.
            #welcome, #room{
                display: flex;
                justify-content: space-around;
            }
            #welcome form{
                width: 300px
            }

            #room form{
                width: 400px
            }

            #messageList ul{
                height: 150px;
                overflow: scroll
            }
    body
        header
            h1 Discord Clone

        main
            div#welcome
                form#nameForm
                    h3 Select Name
                    input(type="text", placeholder="Enter a Name",required)
                    button Save
                form
                    h3 Open Rooms
                    ul

                form#roomForm
                    h3 Select Room
                    input(type="text", placeholder="Enter Room Name", required)
                    button Send

            div#room
                form#messageList
                    h3
                    ul
                form#messageForm
                    h3 Message Form
                    input(type="text", placeholder="Enter your Message", required)
                    button Send
                div
                    button#exit-room Exit Room
        script(src="/socket.io/socket.io.js")
        script(src="/js/app.js")
